.container {
    margin: 100px auto 20px;
    text-align: center;
    max-width: 100%;
    position: relative;
  }

  .listTable
  {
      display:  table;
      width:auto;
      background-color:#eee;
      border:1px solid  #666666;
      border-spacing:5px;/*cellspacing:poor IE support for  this*/
     /* border-collapse:separate;*/
  }

  .listTableRow
  {
     display:table-row;
     width:auto;
  }

  .rowCell
  {
      float:left;/*fix for  buggy browsers*/
      display:table-column;
      width:200px;
      background-color:#ccc;
  }